body {
  background: rgb(141,194,111); /* fallback for old browsers */
  font-family: "Roboto", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;      
}

@import url(https://fonts.googleapis.com/css?family=Roboto:300);

.login-page {
  width: 480px;
  padding: 8% 0 0;
  margin: auto;
}
.form {
  position: relative;
  z-index: 1;
  background: #FFFFFF;
  max-width: 480px;
  margin: 0 auto 100px;
  padding: 45px;
  text-align: center;
  box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.input{
	border-radius: 10px;
	width: 320px;
	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	border: 0;
  	margin: 0 0 15px;
 	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
}

.inputunique{
	border-radius: 10px;
	width: 250px;
	font-family: "Roboto", sans-serif;
  	outline: 0;
  	background: #f2f2f2;
  	border: 0;
  	margin: 0 0 15px;
 	padding: 15px;
  	box-sizing: border-box;
  	font-size: 14px;
}

.button{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	outline: 0;
	background: #4CAF50;
	width: 100%;
	border: 0;
	padding: 15px;
	color: #FFFFFF;
	font-size: 14px;
	-webkit-transition: all 0.3 ease;
	transition: all 0.3 ease;
	cursor: pointer;
}

.button-sair{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	text-transform: uppercase;
	background-color: #005229;
	border-radius: 10px;
	color: #FFFFFF;
	padding: 15px;
	font-size: 14px;
	border: #76b852;
	align-items: end;
}
.button-sair:hover {
    background-color: #218838;
}

.button :hover{
	color:#ffffff;  
  }
  

.message{
	margin: 15px 0 0;
  	color: #b3b3b3;
  	font-size: 12px;
}

.login-name{
	font-family: Verdana, Geneva, Tahoma, sans-serif;
	color: #005229;
	font-weight: 800;
}

.form-cadastro {
	z-index: 10;
	justify-content: center;
	align-items: center;
	background: #FFFFFF;
	max-width: 480px;
	margin: 0 auto 100px;
	padding: 45px;
	text-align: center;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
  }

.alert{
	font-size: x-small;
}

.menu {
	width: auto;
	height: 5px;
	display: flex; 
	align-items: center; 
	background: rgb(141,194,111);
	margin: 0 auto 100px;
	padding: 40px;
	box-shadow: 0 0 10px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
	text-align: center;
	justify-content: space-between;
  }

.menu-button{
	display: flex; 
	align-items: center; 
	padding: 40px;
	gap: 10px;
}

.table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    background-color: #fff;
    border-radius: 8px;
    overflow: hidden;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}


.table th {
    background: rgb(164, 165, 164); 
    color: #005229;
    padding: 12px;
    text-align: left;
    font-weight: 600;
    text-transform: uppercase;
}


.table td {
    padding: 12px;
    border-bottom: 1px solid #ddd; 
}


.table tbody tr:nth-child(even) {
    background-color: #f9f9f9; 
}


.table td a {
    color: #007bff;
    text-decoration: none;
    margin-right: 10px;
	color: #fff;
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
	width: 200px;
}

.table td form button {
    background-color: #dc3545; 
    color: #fff; 
    border: none;
    padding: 8px 16px;
    cursor: pointer;
    border-radius: 4px;
	width: 200px;
}

.table td form button:hover {
    background-color: #c82333;
}

.form {
    max-width: 480px;
    margin: 40px auto;
    padding: 20px;
    background: #ffffff;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.input1 {
    width: 100%;
    border-radius: 10px;
    padding: 15px;
    margin-bottom: 15px;
    font-size: 14px;
    border: 1px solid #ccc;
}

.input1[type="date"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    padding: 15px;
}

.tablediv{
    margin: 40px auto; 
    background: #ffffff; 
    width: 80vw;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24); 
	border-radius: 20px;
}